/* Estilos para el modal */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #343a40;
    color: #ffffff;
    border-bottom: none;
}

.modal-title {
    font-size: 1.5rem;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: none;
}

.modal-footer button {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .modal-content {
        border-radius: 5px;
    }

    .modal-header {
        padding: 10px 15px;
    }

    .modal-title {
        font-size: 1.25rem;
    }

    .modal-body {
        padding: 15px;
    }

    .modal-footer {
        padding: 10px 15px;
    }

    .modal-footer button {
        margin-right: 5px;
    }
}

@media (max-width: 480px) {
    .modal-body {
        padding: 10px;
    }

    .modal-footer button {
        width: 100%;
        margin-bottom: 10px;
    }
}
